{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
<script type="text/javascript">
	function check(input) {
		if (input.value.toLowerCase().split(' ').join('') == input.getAttribute("answer")) {
			input.replaceWith(document.createTextNode(input.getAttribute("hint")))
		}
	}
	function answer(input){
		var p = document.createElement('p');
		p.appendChild(document.createTextNode("一張新的"))
		var a = document.createElement('a');
		var linkText = document.createTextNode("線索");
		a.appendChild(linkText);
		a.href = "https://drive.google.com/uc?export=download&id=1amydQGdq1CwMg9k1VXWSUggeb4EqoSxZ";
		p.appendChild(a)
		p.appendChild(document.createTextNode("掉了出來"))
		if ((input.value.toLowerCase().split(' ').join('') == "zerotoone" || input.value == "從零到一" || input.value == "從0到1") &&
			document.getElementById("nextMat") != null){
			document.getElementById("nextMat").replaceWith(p);
		}
	}
	function answer2(input){
		var div = document.createElement('div');
		div.appendChild(document.createElement('p').appendChild(document.createTextNode("")));
		div.appendChild(document.createElement('br'));
		div.appendChild(document.createElement('p').appendChild(document.createTextNode("How to make you and I the same?")));
		div.appendChild(document.createElement('br'));
		div.appendChild(document.createElement('p').appendChild(document.createTextNode("旁邊還有兩個檔名分別為uxahqkag及mcizcjsas的加密檔案")));
		if (input.value.toLowerCase().split(' ').join('') == "iloveyousomuch"){
			console.log(document.getElementById("nextMat"))
			document.getElementById("nextMat").style.display = "block";
			// document.getElementById("nextMat") != null){
			// document.getElementById("nextMat").replaceWith(div);
		}
	}
	function answer3(input){
		//uxahqkag youloveme
		if (input.value.toLowerCase().split(' ').join('') == "youloveme") {
			input.replaceWith(document.createTextNode("Next Password all capital"));
		}
	}
	{{- with .Params.end }}
	function answer4(input){
		var a = document.createElement('a');
		a.href = "{{$.Params.end | absURL}}"
		a.appendChild(document.createTextNode("Letter To You"))
		//mcizcjsas iloveyou
		if (input.value.split(' ').join('') == "ILOVEYOU") {
			input.replaceWith(a);
		}
	}
	{{- end}}
</script>
	<main class="site-main section-inner thin animated fadeIn faster">
		<h1>{{ .Title }}</h1>
		<div class="content">
			{{ .Content }}
		</div>
		<div class="post-nav thin">
			{{- with .Params.last }}
			<a class="next-post" href="{{$.Params.last | absURL}}">
				<span class="post-nav-label"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
					stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
						<line x1="19" y1="12" x2="5" y2="12"></line>
						<polyline points="12 19 5 12 12 5"></polyline>
					</svg>&nbsp;Last</span><br>
			</a>
			{{- end }}
			{{- with .Params.next }}
			<a class="prev-post" href="{{$.Params.next | absURL}}">
				<span class="post-nav-label">Next&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
					fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right">
						<line x1="5" y1="12" x2="19" y2="12"></line>
						<polyline points="12 5 19 12 12 19"></polyline>
					</svg>
			</a>
			{{- end }}
		</div>
		{{- with .Params.comments }}
		{{ with .Site.DisqusShortname }}{{ partialCached "disqus.html" . }}{{ end }}
		{{- end }}
	</main>
{{ end }}
{{ define "footer" }}
{{ partialCached "footer.html" . }}
	<script>let haveHeader = true;</script>
{{ end }}